body {
	font-family: 'poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

.container {
	background: #a8c0ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#3f2b96,
		#a8c0ff
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#3f2b96,
		#a8c0ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	display: grid;
	place-items: center;

	grid-template-rows: 100fr 1fr;

	height: 100vh;
	min-height: 700px;
}

.calculator {
	width: 30%;
	min-width: 400px;
	max-width: 575px;
	border-radius: 10px;
	overflow: hidden;
}

.display {
	/* Glassmorphic Container */
	background: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);

	height: 150px;
	font-size: 3.5rem;
	text-align: end;
	padding-bottom: 1.5rem;
	padding-top: 3.5rem;
	padding-inline: 0.75rem;
	color: white;
}

.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		'. . . .'
		'. . . .'
		'. . . eq'
		'. . . eq'
		'. . . eq';

	height: 400px;
}

.btn {
	border: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 2rem;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.75);
}

.operators {
	background-color: rgba(255, 255, 255, 0.75);
}

.eq {
	grid-area: eq;
	background-color: #f98c6b;
}

.footer {
	color: rgba(255, 255, 255);
	place-self: end;
	justify-self: center;
	padding: 20px;
}
